html, body {
height: 100%;}

body {
    min-width: 1280px;
    min-height: 550px,
    -webkit-transform: translate3d(0, 0, 0);
}

.header-page {
   min-width: 950px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.show-block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.thumbnail.soc-content img {
    float: left;
    margin-top: 0px;
    margin-right: 19px;
    margin-bottom: 0px;
}

.error-page .p-error-txt .error-icon {
      background: url(../img/i-error.2x.png) 0 0 no-repeat;
      background-size: 100%;
      height: 169px;
      width: 230px;
      bottom: 0;
      right: 0;
      position: absolute;
      margin: 0 -23px -23px 0; }

.help .ng-valid + .f-hint {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.warn {
    color:#FF0050;
    font-size:16px;
    font-weight:bold;
}

.error {
    color: #fff !important;
}

#demo-kit-block {
    background-color: #FFF;
}

.kit-items .img-w img {
    cursor:pointer;
}

.kit-items .img-w a.plus {
    position: absolute;
    bottom: 0px;
    right: -25px;
    font-family: mobispot;
    font-size: 32px;
    line-height: 19px;
    color: #8D9095;
}

.kit-items .img-w a.minus {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-family: mobispot;
    font-size: 32px;
    line-height: 19px;
    color: #8D9095;
}

.kit-items .img-w span {
    position: absolute;
    bottom: 0px;
    right: -5px;
    font-family: mobispot;
    font-size: 22px;
    line-height: 19px;
    color: #8D9095;
}

.m-result {
    display: none;
}

#extraMediaForm a {
    opacity: 0.1;
    transition: none;
}

#extraMediaForm a.binded {
    opacity: 1;
    transition:none;
}

#extraMediaForm a:hover {
    opacity: 1;
}

.icon-bag-conteiner {
    position: fixed;
    top: 55px;
    right: 5px;
    z-index: 99;
}

div.store-content {
    max-width:1030px;
    margin: 0px auto;

}

.m-preload-store  {
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: #fff;
  z-index: 999;
  text-align: center;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  display: block;
}

.m-preload-store img{
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.store-items__description h1 {
    font-size: 2.2rem;
}

.bg-patt02 {
    background-color: #0062FF;
    overflow: hidden;
}

.bg-patt02:after, .bg-patt03:after {
    height: 35px;
    width: 35px;
    top: 0px;
    left: 0px;
    background: url(../img/info/p2.png) no-repeat scroll 0px 6px / 100% auto transparent;
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}

.active .bg-patt02:after, .choose-color li:hover i.bg-patt02:after,
.active .bg-patt03:after, .choose-color li:hover i.bg-patt03:after {
    height: 50px;
    width: 50px;
}

.bg-patt03 {
    background-color: #AB2640;
    overflow: hidden;
}

.bg-patt03:after {
   background-image: url(../img/info/p3.png);
}

.bg-patt01 {
    background-color: #5AC0B9;
    overflow: hidden;
}

.bg-patt01:before, .bg-patt05:before {
    top: 14px;
    left: 14px;
    border: 5px solid #FFF;
    height: 23px;
    width: 23px;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}

.bg-patt01:after, .bg-patt05:after {
    top: 3px;
    left: 3px;
    border: 5px solid #FFF;
    height: 39px;
    width: 39px;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}

.active .bg-patt01:after, .choose-color li:hover i.bg-patt01:after,
.active .bg-patt05:after, .choose-color li:hover i.bg-patt05:after{
    top: 4px;
    left: 4px;
    border: 7px solid #FFF;
    height: 55px;
    width: 55px;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}

.active .bg-patt01:before , .choose-color li:hover i.bg-patt01:before,
.active .bg-patt05:before , .choose-color li:hover i.bg-patt05:before{
    top: 21px;
    left: 21px;
    border: 7px solid #FFF;
    height: 32px;
    width: 32px;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}

.bg-patt05 {
    background-color: #000;
    overflow: hidden;
}

.bg-patt05:before, .bg-patt05:after, 
.active .bg-patt05:after, .choose-color li:hover i.bg-patt05:after,
.active .bg-patt05:before , .choose-color li:hover i.bg-patt05:before{
    border-color:#444;
}

.bg-patt06 {
   background-color: #5AC0B9;
   overflow: hidden;
}

.bg-patt04:after, .bg-patt06:after, .bg-patt07:after {
    top: 0px;
    left: -3px;
    border: 14px solid #CAE8DD;
    height: 92px;
    width: 92px;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}

.active .bg-patt04:after, .choose-color li:hover i.bg-patt04:after,
.active .bg-patt06:after, .choose-color li:hover i.bg-patt06:after,
.active .bg-patt07:after, .choose-color li:hover i.bg-patt07:after {
    top: 0px;
    left: -3px;
    border: 20px solid #CAE8DD;
    height: 130px;
    width: 130px;
}

.bg-patt07 {
   background-color: #AB2640;
   overflow: hidden;
}

.bg-patt07:after, .active .bg-patt07:after, .choose-color li:hover i.bg-patt07:after {
    border-color:#D65770;
}

.bg-patt04 {
   background-color: #000;
   overflow: hidden;
}

.bg-patt04:after, .active .bg-patt04:after, .choose-color li:hover i.bg-patt04:after {
    border-color:#363C44;
}

.choose-color li:first-child {
    margin-left:10px;
}

.m-auto-payment {
  min-height: 164px;
}

.header-page .hat-bar li,.footer-page a{
  font-size:16px;
}

.b-message p {
  color: #0062ff;
}

.error-page p a {
  border-bottom: 1px solid;
}

.header-page li span.right-menu {
    padding: 18px 0px;
    display: block;
}
.display_none {
    display: none;
}

.spot-all .content-wrapper {
  margin-bottom: 0; }

.store-body {
  background-color: transparent;
}

div.bag-footer {
    margin-bottom:112px;
}

div.twelve.total-amount.clearfix {
    position:static;
}

#codeConfirm {
    margin-top: 10px;
}

#store-checkout {
    position: relative;
    top: 100px;
}

.half {
    width:50%;
}

div.error-page {
    background: inherit;
}

.spot-coupon .type-coupon.connecting {
    box-shadow: 0px 0px 0px 1px #ff0 inset;
}

.spot-coupon .type-coupon.connecting sup {
    font-size: 14px;
    position: absolute;
    top: 11px;
    right: 11px;
    color: black;
    background: repeat scroll 0% 0% #ff0;
    padding: 5px 11px;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.date-time {
    min-width:107px;
}

.show-address {
    min-height: 88px;
}

.header-page .show-block.negative .form-button {
    color: #fff;
    cursor: pointer;
}

.header-page .show-block.negative .form-button:hover {
    color: #000;
}

.show-block footer.form-footer {
    text-align:center;
}

.show-block .form-button.yes-button {
    margin-right: 30px;
}

#form-logo .upload-logo {
    width:230px;
    height:60px;
    padding:0px;
    position:relative;
    top:-5px;
    overflow: hidden;
}

#form-logo .upload-logo span{
    display:inline-block;
    margin-top:25px;
}

#form-logo .upload-logo span.hide{
    display:none;
}

img.upload-holder {
    width:100%;
} 

span.upload-holder{
    color: #0062FF;
}

#form-photo label.face-holder {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: `px;
    height: 165px;
    line-height: 165px;
    text-align: center;
    z-index: 10;
}

label.face-holder.hide i, label.face-holder.hide span {
    display: none;
}

.personal-block .upload-photo.noborder {
    border: 0;
}

.device-block img {
    cursor:pointer;
}

#spots-nav {
    position:relative;
    top:-15px;
    height:1px;
}

.device-block {
    text-align:center;
}

.slider-window {
    max-width: 100%;
    margin-bottom: 34px;
    margin-top: 80px;
    vertical-align: baseline;
    display: inline-block;
    height: auto;
}

.nav-top p, .nav-bottom p {
    min-width:397px;
}

.nav-middle p {
    min-width:365px;
}

.splash #payment, .splash #soc, .splash #coupon, .splash #transport, .splash #dev, .splash .first-screen {
    background-image: none;
}

.ofert-page .main {
    display: block;
}

.card-block + .no-card {
    vertical-align: middle;
    display: table-cell;
}

.table .main-card.blacklist td:first-child, .table .main-card.blacklist td:last-child{
    border-color:red;
}

.table .main-card.blacklist i{
    color:red;
}

.table .main-card .main-indicator.blocked{
    display:none;
}

.table  .main-card.blacklist .main-indicator{
    display:none;
}

.table  .main-card.blacklist .main-indicator.blocked{
    display:block;
}
/* Карты ГУУ */
/*
.overlay-page.show.guu-card{
    position:relative;
    overflow: hidden;
  
}
*/
.guu-card{
    padding: 33px;
    

}

.guu-card .personal-card {
    background-color: #fff;
    border: 1px solid #E9EDF2;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    background-size: cover; 
}


.guu-card .personal-card.vertical {
    width: 321px;
    height: 513px;
    float: left; 
    /*background: url(../img/simple_card_frame.jpg) 0 0 no-repeat;*/
    border:0;
}

.guu-card .personal-card.vertical:after {
    width: 92px;
    height: 23px;
    left: 115px;
    top: 24px; 
}

.guu-card .personal-block .upload-photo {
    width:128px;
    height:162px;
    display:inline-block;
    border-radius:0;
    margin-top:79px;
    background-color:white;
}

.guu-card label.face-holder {
    cursor: pointer;
    display: inline-block;
    width:128px;
    height:162px;
    vertical-align: middle;
    line-height: 162px;
    text-align: center;
}

.guu-card .personal-block .upload-photo .icon {
    position: absolute;
    font-size: 142px;
    color: #E9EDF2;
    top: 0px;
    left: 9px;
}

.guu-card .personal-block .upload-photo span {
    position: relative;
    top:-26px;
}

.guu-card .ng-image-crop-square section canvas.cropping-canvas {
    width: 162px;
    height: 162px;
    position: relative;
    top: 0px;
    left:-17px;
}

.guu-card .owner-info textarea {
    background-color: transparent;
    width: 315px;
    color:#6e6e6e;
    font-size:14px;
    padding: 0px 50px;
    margin:-5px 3px;
    font-family: Mobispot, Arial;
}

.guu-card .personal-block .owner-info textarea:hover, .personal-block .owner-info textarea:focus  {
    background-color: transparent;
}


.guu-card .owner-info textarea.name {
    color:#1e22a0;
    font-size:20px;
}

.guu-card .personal-block .owner-info textarea.position {
    color:#6e6e6e;
    font-size:14px;
}

.card-number {
    position:absolute;
    left:40px;
    bottom:40px;
    color:#1f22ad;
    font-size:22px;
    font-weight:900;
    font-family: museo_sans_cyrl100;
}


.guu-card .ng-image-crop-square a.crop-control.delete {
    right:40px;
}

.guu-card .upload-photo {
    border: 1px solid #b5b5b3;
    width:128px;
    height:162px;
    padding:0;
    margin:0;
}

.column.small-6.large-6.large-max {
    width:100%;
}

ul.add-active.payment-options.store li{
    display:block;
    float:none;
}

.block-link-wrapper {
    display: inline-block;
    background: url(../img/tostore-bg.jpg) 0 0 no-repeat;
    background-size: cover; 
    width:50%;
    height:100px;
    margin-bottom:40px;
}


#to-store {
    display: block;
    width:100%;
    padding-top:40px;
    color: white;
    font-size:19px;
    font-family: Mobispot, Arial;
}

.block-form-wrapper {
    display: inline-block;
    width:264px;
    text-align:left;
}

#constructor-simple.overlay-page.show, #constructor-troika.overlay-page.show{
    z-index:190;
}

a.form-button.button.button-round.store {
    margin-left:60px;
}

.row.block {
    margin-top:30px;
}

.remove-button {
    font-family: Mobispot-icon;
    font-size:11px;
    height:18px;
    width:18px;
    display:none;
    line-height:18px;
    margin:0px;
}

.phone-row{
    cursor:pointer;
}

.phone-row:hover .remove-button {
    display:inline-block;
}

.phone-icon {
    width:49px;
    text-align:left;
}

.phone-ctrl{
    width:18px;
}

.wrapper-table {
    border:none;
    width:100%;
}

.left_list {
    width:50%;
    border-right:1px solid #E9EDF2;
    vertical-align:top;
}

#phone_services {
    vertical-align:top;
}

#phones-list {
    border:none;
    margin-top:20px;
    width:240px;
}

.service-ctrl {
    color:#4D4D4D;
}

.ctrl-icon {
    font-family: Mobispot-icon;
    font-size:10px;
}

.card-info li {
    font-size:20px;
}

.card-info li .number {
    display:inline-block;
    background-color: #E9EDF2;
    border-radius:5px;
    padding:0px 7px;
    font-weight:800;
    font-size:18px;
    position:relative;
    top:3px;
}

.card-info li .pay {
    display:inline-block;
    background-color:#E9EDF2;
    width:100%;
    text-align:center;
    padding:10px;
    margin:5px;
}

.card-info li .block {
    display:inline-block;
    background-color:#ff6565;
    color:#ffffff;
    width:100%;
    text-align:center;
    padding:10px;
    margin:5px;
}

.card-info li .note {
    color:#8D9095;
    font-size:12px;
}


.transport-block.disabled .block-information {
    opacity: 1;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -31px;
    background: none repeat scroll 0% 0% #E0E6ED;
    border-radius: 5px;
    padding: 22px;
    width: 400px;
    text-align: center;
}

.transport-block.disabled .cover{
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-color: #E0E6ED;
}

.card-constructor .personal-block {
    padding-left:54px;
    padding-top:40px;
    max-width:none;
}

.card-column{
    padding: 30px 15px 50px 0px;
    min-width:322px;
}

.card-column img.back {
    position:absolute;
    top:52px;
    left:0px;
}

#card-menu {
    box-shadow: none;
    text-align:center;
}

.card-button {
    display:block;
    padding:17px 10px;
    border-radius:10px;
    background-color:#e6eff4;
    color:#0062FF;
    width:214px;
    height:70px;
    font-size:17px;
    font-family: Mobispot;
    line-height:1.25;
}

.card-line {
    display:inline-block;
    font-family:Mobispot;
    font-size:17px;
    margin:28px 0;
}

.card-button.top {
    margin:144px auto 0 auto;
}

.card-button.bottom {
    margin:0 auto 0 auto;
}

.card-button:focus, .card-button:hover {
    color: #000;
}

#card-pattern {
    box-shadow: none;
    display: none;
}

.position {
    padding-bottom:15px;
}

.descr-column {
    padding:30px 0 0 0;min-width:332px;
}

.descr-column .step-description {
    width:332px;
    background-color:#eff7f9;
    font-size:14px;
}

.step-description.descr {
    border:1px dashed black;
    margin-bottom:23px;
}

.step-description.bottom {
    border: 1px dashed red;
    position: relative;
    padding-left: 59px;
    color: #000;
}

.step-description.bottom img {
    position:absolute;
    top:19px;
    left:25px;
}

.card-constructor .form-button.button.button-round.store {
    font-size:31px;
    position:absolute;
    left:342px;
    top:182px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.2);
    background-color:#e6eff4;
}

.card-constructor .personal-block .owner-info textarea.name {
    height: 90px;
    overflow: hidden;
    padding: 0 35px;
}

.card-constructor .personal-block .owner-info textarea.position {
    height: 63px;
    overflow: hidden;
    padding: 0 50px;
}

.personal-card.vertical .crop-control.delete {
    right:20px;
    top:20px;
    background: #E9EDF2 none repeat scroll 0% 0%;
}

.personal-card.vertical:hover .crop-control.delete, .personal-card.vertical:focus .crop-control.delete{
    display:block;
}

.discounts .spot-button{
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: color 600ms ease-out;
    -moz-transition: color 600ms ease-out;
    -o-transition: color 600ms ease-out;
    transition: color 600ms ease-out;
    -webkit-transition: background-color 600ms ease-out;
    -moz-transition: background-color 600ms ease-out;
    -o-transition: background-color 600ms ease-out;
    transition: background-color 600ms ease-out;
    height: 31px;
    line-height: 31px;
    padding: 0px 13px 0px;
    margin-bottom: 14px;
    cursor: pointer;
    background-color:#fff;
    font-size: 14px;
    margin-right:14px;
    font-family: museo_sans_cyrl100, Arial, Helvetica, sans-serif;
    color: #4a4a4a;
}

.discounts .spot-button:hover, .discounts .spot-button:focus, .discounts .spot-button.active {
    background-color: #0062FF;
    color: #fff;
}

.discounts .filter i.icon {
    top: 4px;
    left: -8px;
    display: inline-block;
    cursor: pointer;
    color: #0062FF;
    font-size:29px;
}

.discounts .filter {
    margin-bottom: 10px;
}

.discounts input.search {
    display: inline-block;
    width: 617px;
    border: 1px solid #68a2e4;
    margin-bottom: 12px;   
}

.discounts p {
    color:#593a3a;
    font-size:14px;
    margin-bottom:8px;
}

.spot-coupon .type-coupon.active .form-button.red.disabled:hover {
    color: #8D9095; 
}

input.search::-webkit-input-placeholder {color: #4A4A4A;}
input.search::-moz-placeholder {color: #4A4A4A;}/* Firefox 19+ */
input.search:-moz-placeholder {color: #4A4A4A;}/* Firefox 18- */
input.search:-ms-input-placeholder {color: #4A4A4A;}

.corp-wallet .card-block {
    border: 1px solid #30D874;
    border-radius:5px;
    position:relative;
}

.corp-wallet .card-block.negative {
    border: 1px solid #FF0050;
}

table.table.table-card {
    border-collapse:separate;
}

.card-item-header {
    font-weight: 600;
    padding: 9px 0px 9px 10px;   
}

.corp-wallet i.icon {
    display:inline-block;
}

.corp-wallet .card-item-header i.icon {
    margin-right: 8px;
    color: #30D874;
    font-weight: 100;
    font-size: 16px;
    margin-top: -11px;
    position: relative;
    top: 2px;
}

.corp-wallet .txt-right {
    font-weight: 600;   
}

.corp-wallet .txt-right.negative {
    color: #FF0050;
}

.corp-wallet .m-auto-payment {
    border-color:transparent;
}

.icon.icon-currency10 {
    display:inline-block;
}

.icon.icon-currency10 img{
    width:7px;height:10px;
}

.icon.coins, .corp-wallet .card-item-header i.icon.coins {
    position:relative;
    top:5px;
}

.message-for-empty {
    border-radius:10px;
    border:1px solid #E9EDF2;
    color:#8D9095;
    width:100%;
    height:36px;
    text-align:center;
    line-height:36px;   
}

#setPayment.disable .block-information {
    background-color:#d8d8d8;
    border-radius:10px;
}
#setPayment .cover.wallet-cover {
    display:none;
}

#setPayment.disable .cover.wallet-cover {
    position: absolute;
    height: 105.8%;
    width: 110.6%;
    background: rgba(240, 240, 240, 0.7);
    z-index: 10;
    top: -5.3%;
    left: -5.3%;
    border-radius:5px;
    display:block;
}

.corp-wallet .cover {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.9);
    border:1px solid #FF0050;
    border-radius:5px;   
}

.corp-wallet .cover i.icon {
    top:12px;
    left:5px;
    display:block;
    position: absolute;
    font-size:60px;
    color: #999999;
}

.corp-wallet .cover .cover-descr {
    margin:24px 0px 0px 40px;
    text-align:center;
    line-height:21px; 
}

.row.wallet-block {
    position:relative;
}

.wallet-block .block-information {
   height:85px;
   line-height:21px; 
}

.wallet-block .block-information i.icon {
    position:absolute;
    font-size:60px;
    color: #999999;
    top:28px;
    left:10px;   
}

.last-operations .icon.card {
    position:relative;
    top:3px;
    font-size: 18px;
}

.fail .fail-description {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
}

.card-constructor .face-block {
    padding-left:54px;
    max-width:1164px;
}

.card-constructor .inputs {
    padding-left:0px;
}
.card-constructor .troika-price {
    position: absolute;
    top: -20px;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #30D874;
    color: #fff;
    font-size: 35px;
    font-family: Mobispot,Arial,sans-serif;
    text-align: center;
    line-height: 100px;
    margin: 0;
}

.card-constructor .troika-price span.icon.currency {
    position: relative;
    top: -3px;
    font-size: 22px;
}

.card-constructor .shipping-block {
    padding-left: 54px;
}

.card-constructor h1 {
    margin-bottom:50px;
}

.card-constructor .step-description {
    float: right;
}

.card-constructor .personal-card.vertical {
    position: absolute;
    top: -20px;
    left: 0px;
}

.card-constructor .card-column .back {
    position: absolute;
    top: 20px;
    left: 63px;
    height: 503px;
    width: 316px;
    overflow: visible;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.card-constructor .card-column .back:hover {
    left: 310px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.card-constructor .card-column .back img{
    position: absolute;
}

@-webkit-keyframes swing {  
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    5% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(0);  
        transform: translateX(0);
    }
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    20% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    65% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    80% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    85% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    90% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    95% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {  
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    5% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(0);  
        transform: translateX(0);
    }
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    20% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    65% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    80% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    85% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    90% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    95% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.card-constructor .card-column .back img.cover-animation{
    -webkit-animation: swing 6s infinite ease;
    animation: swing 6s infinite ease;
}

.card-constructor .card-column .back:hover img.cover-animation{
    -webkit-animation: none;
    animation: none;
}